name: Quality Gate Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube-analysis:
    name: SonarQube PR Scan
    runs-on: [self-hosted, linux, x64]
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven 

      - name: Build and Analyze with Maven
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: >
          ./mvnw clean verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -Dsonar.host.url=${{ env.SONAR_HOST_URL }}
          -Dsonar.token=${{ env.SONAR_TOKEN }}
          -Dsonar.projectName="Quarkus API Rest" 
          -Dsonar.projectKey="quarkus-api-rest"
